<h1>My Wikis</h1>

<table class="table">
  <tbody>
    <% current_user.wikis.each do |wiki| %>
      <tr>
        <td><%= link_to wiki.title, wiki_path(wiki.id) %></td>
        <td><%= link_to "edit", edit_wiki_path(wiki.id), class: 'btn btn-success' %></td>
        <td><%= link_to "delete", wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %> <%= wiki.id %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %></td>
    </tr>
  </tbody>
</table>
