<h1><%= @wiki.title %> </h1>
  <small>
    submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= "#{@wiki.user.email}" %>
  </small>

<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
<div class="col-md-4">
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
  <% if user_is_authorized_for_delete?(@wiki) %>
    <%= link_to "Delete Wiki", @wiki, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
