<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to "Blocipedia", root_path %></li>
        <li class="nav-item"><%= link_to "My Wikis", wikis_path %></li>

        <% if user_signed_in? %>
          <li class="nav-item pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
          <li class="nav-item pull-right"><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li class="nav-item pull-right">Signed in as: <strong><%= current_user.email %></strong> | </li>
        <% else %>
          <li class="nav-item pull-right"><%= link_to "Sign In", new_user_session_path %></li>
          <li class="nav-item pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>

      <% if flash[:notice] %>
         <div class="alert alert-success">
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <%= flash[:alert] %>
         </div>
       <% end %>

      <%= yield %>

    </div>
  </body>
</html>
